﻿@model AnvilGroup.Services.Fit2Work.Models.LogModel
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Log entry</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created (UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd class="renderHtml">
            @(new HtmlString(Model.Details))
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("<< Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
