﻿@model IEnumerable<AnvilGroup.Services.Fit2Work.Models.LogModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.LogCount Log entries</h2>
<div class="clearmed"></div>
<table class="table table-striped table-sm">
    <tr>
        <th>
            Id
        </th>
        <th>
            Created (UTC)
        </th>
        <th width="60%">
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id = item.Id })
        </td>
    </tr>
    }
</table>

<nav>
    <ul class="pagination">
        @if(ViewBag.pageNumber > 1)
        {
            <li class="page-item @((int)ViewBag.pageNumber == 1 ? "disabled" : "")">
                @Html.ActionLink("Previous", "Index", "Log", new { area = "", date = ViewBag.Date, pageNumber = (ViewBag.pageNumber - 1), maxPerPage = ViewBag.maxPerPage }, new { @class = "nav-link btn btn-primary" })
            </li>
            <li>&nbsp;</li>
        }
        
        @if(ViewBag.LogCount > ViewBag.pageNumber * ViewBag.maxPerPage)
        {
            <li class="page-item ">
                @Html.ActionLink("Next", "Index", "Log", new { area = "", date = ViewBag.Date, pageNumber = (ViewBag.pageNumber + 1), maxPerPage = ViewBag.maxPerPage }, new { @class = "nav-link btn btn-primary" })
            </li>
        }
    </ul>
</nav>
